@import url("https://fonts.googleapis.com/css2? family= Montserrat:wght@600 & display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px;
  gap: 1em; }

@media screen and (min-width: 720px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr; } }

.grid div {
  background: #ece7e7;
  padding: 1em;
  margin: 1em; }
  .grid div:hover {
    border: 3px solid #11250f; }

.front__image {
  width: 180px;
  height: 200px; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px;
  gap: 5em;
  padding: 1em;
  margin: 1em;
  justify-content: center; }

@media screen and (min-width: 720px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr; } }

.grid-container img:hover {
  filter: opacity(0.9);
  transform: scale(1.04); }

section {
  background-color: #e5f1e8; }

.element1 {
  width: 250px;
  height: 250px; }

header {
  width: 99%;
  margin: 5px;
  font-size: 40px; }

a {
  text-decoration: none;
  color: #06750c;
  display: block; }

.iframe {
  width: 100%; }

.Volver {
  color: #02200b;
  display: block; }

.cellphones-image {
  width: 100%;
  height: 200px;
  padding: 5px;
  margin: 5px; }

@media screen and (min-width: 720px) {
  .cellphones-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center; } }

.logo {
  color: beige;
  text-decoration: none;
  font-size: 80px;
  font-style: unset; }

.footer-text {
  color: #e5f1e8;
  display: flex;
  align-items: center; }

footer {
  width: 100%;
  margin-top: 50px;
  padding-top: 100px;
  font-size: 40px; }

footer .sociales {
  background: #282b28;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 15px 10px; }

footer .sociales a {
  font-size: 35px;
  color: #e6dfdf;
  transition: all .5s ease; }

footer .sociales .facebook:hover {
  transform: scale(1.3, 1.3);
  color: #382CA9; }

footer .sociales .twitter:hover {
  transform: scale(1.3, 1.3);
  color: #3ac9c1; }

footer .sociales .instagram:hover {
  transform: scale(1.3, 1.3);
  color: #fd1f1f; }

footer .sociales .snapchat:hover {
  transform: scale(1.3, 1.3);
  color: #d9ee1e; }

main p {
  font-size: 30px;
  animation-name: animation;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

@keyframes animation {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.menu {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.text-center-two {
  text-align: center;
  border-radius: 10px;
  margin: 5px;
  background-color: #3b3939;
  color: #e0e7e2; }

h1 {
  border-radius: 10px;
  text-align: center;
  background-color: darkcyan; }

.texto-nosotros {
  padding: 80px;
  background-color: #e1e9e3;
  text-align: center;
  font-size: xx-large;
  margin: 80px;
  width: 85%; }

.cardProduct {
  width: 100%;
  max-width: 300px;
  display: inline-block;
  border-color: darkcyan;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px; }

.cardProduct__image {
  width: 100%;
  height: 300px; }

.cardProduct__description {
  padding-left: 20px;
  padding-right: 20px; }

.cardProduct__description__price {
  margin-top: 10px; }

.cardProduct__description__text {
  margin-top: 30pxpx;
  margin-bottom: 30pxpx;
  text-align: center; }

.card1product__description__action {
  background-color: #8787e2;
  display: inline-block;
  width: max-content;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  color: beige;
  text-align: center; }

.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px; }

.bigicon {
  font-size: 35px;
  color: #35cf0e; }
